/* :root {
    --modal-duration: 1s;
    --modal-color: #428bca;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #3876ac;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
   */

   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
   }
   body{
     background: #dfe9f5;
   }
   .wrapper{
     width: 330px;
     padding: 2rem 0 1rem 0;
     margin: 50px auto;
     background: #fff;
     border-radius: 10px;
     text-align: center;
     box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
   }
   h1{
     font-size: 2rem;
     color: #07001f;
   }
   p{
     margin-bottom: 1.7rem;
   }
   form input{
     width: 85%;
     outline: none;
     border: none;
     background: #dfe9f5;
     padding: 12px 14px;
     margin-bottom: 10px;
     border-radius: 10px;
   }
   .recover{
     text-align: right;
     font-size: 0.8rem;
     margin: 0.2rem 1.7rem 0 0;
   }
   .recover a{
     text-decoration: none;
     color: #07001f;
   }
   button{
     font-size: 1.1rem;
     margin-top: 1rem;
     padding: 8px 0;
     border-radius: 5px;
     outline: none;
     border: none;
     width: 85%;
     background: #11101d;
     color: #fff;
     cursor: pointer;
   }
   button:hover{
     background: #040405;
   }
   .or{
     font-size: 0.8rem;
     margin-top: 1.5rem;
   }
   .icons i{
     color: #07001f;
     padding: 00.8rem 1.5rem;
     border-radius: 10px;
     margin-left: .9rem;
     font-size: 1.5rem;
     cursor: pointer;
     border: 2px solid #dfe9f5;
   }
   .icons i:hover{
     color: #fff !important;
     background: #07001f;
     transition: 1s;
   }
   .icons i:first-child{
     color: green;
   }
   .icons i:last-child{
     color: blue;
   }
   .not-member{
     font-size: 0.8rem;
     margin-top: 1.4rem;
   }
   .not-member a{
     color: tomato;
     text-decoration: none;
   }
   a:hover{
     text-decoration: underline;
   }
   
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  